.dropdown-menu {
    max-height: 0;
    overflow-x: hidden;
    overflow-y: auto;
    transition: max-height 0.3s ease;
  }
  
  .nav-item:hover .dropdown-menu {
    max-height: 200px; /* Altura máxima de la barra de desplazamiento */
  }
  .dropdown-item:hover {
    text-decoration: underline; /* Subraya el texto cuando el mouse está sobre él */
  }
  .nav-item.dropdown:hover .dropdown-menu .dropdown-item {
    text-decoration: underline; /* Subraya el texto cuando el mouse está sobre las opciones del menú desplegable */
  }
    