.parrafo {
    border: 1px solid black;
    text-align: center;
    margin: 10px;
    padding: 15px;
    color: blueviolet;
    font-size: large;
    font-weight: 500;
    background-color: lightgray;
    border-radius: 10px;
    box-shadow: 2px 2px 5px gray;
}

div {
    border: 2px solid yellow;
    color: brown;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 20px;
    padding: 20px;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px gray;
}
samp ul li{
    color: chartreuse;
    font-style: oblique;
    font-weight: 700;
}    

#boton{
    background-color: rgb(105, 40, 40);
    border: none;
    font-size: 10px;
    width: 500px;
    padding: 10px;
    color: blue;
}
.texto{
    color: aqua;
}

.link{
    color: blueviolet;
}
a:hover{
    color: bisque;
}
